/* Styling  for entire page */
* {
  margin: 0px;
  padding: 0px;
}
/* Styling for header */
header {
  display: flex;
  flex-basis: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  height: 9vh;
  font-size: xxx-large;
  background-image: linear-gradient(to right, #436ab7, #201057);
  color: white;
  font-weight: bold;
}
/* styling for main  */
main {
  height: 80vh;
}
.container {
  height: 100%;
  margin-top: 20px !important;
}
.mainRow {
  height: 100%;
}
ul {
  list-style: none;
}
/* Styling for search sections */
.searchSection {
  margin: 10px auto;
}
h2 {
  height: 15%;
  font-size: x-large;
  width: 100%;
}
input {
  width: 75%;
  margin: 5px;
}
.searchBtn {
  height: 5vh;
  border-radius: 10%;
  width: 75%;
  margin: 5px;
}
.searchedCities {
  margin-top: 20px !important;
  height: 60%;
  width: 100%;
}
.citySearched {
  width: 10vw;
}

/* Forecast section */
.currentForecast {
  border: 1px solid black;
  margin: 10px auto;
}
.cityName {
  height: 25%;
  padding-top: 15px;
}

.cityTWHUV {
  height: 75%;
  display: flex;
  list-style: none;
  flex-flow: column;
  justify-content: space-around;
  padding: inherit;
}
