/* Styling for the entire page */
* {
  margin: 0px;
  padding: 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
h1,
h2 {
  font-weight: bold;
}

/* Styling for header */

header {
  display: flex;
  border: 5px solid red;
  flex-basis: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
}
/* Styling for main sections  */
.container {
  border: 5px dashed black;
  height: 80vh;
  width: 100vw;
}
.row {
  display: flex;
  border: 5px dotted teal;
  height: 100%;
}
/* Styling for search section */
.searchSection {
  border: 5px solid orange;
}
.searchTitle {
  border: 5px solid red;
  height: 10%;
}
.search {
  border: 5px solid cornflowerblue;
  height: 20%;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}
input {
  border: 5px solid yellow;
  height: 40%;
}
.button {
  border: 5px solid purple;
  height: 40%;
  border-radius: 10%;
}
.cityList {
  border: 5px solid blue;
  height: 70%;
  margin-top: 20px;
}

/* Styling for forecast section */
.forecastContainer {
  border: 5px solid blue;
  display: flex;
  flex-direction: column;
}

.cityDetails {
  border: 5px solid yellow;
  height: 50%;
}

.cityName {
  border: 5px solid powderblue;
  height: 25%;
  padding-top: 15px;
}

.cityTWHUV {
  border: 5px solid peachpuff;
  height: 75%;
  display: flex;
  list-style: none;
  flex-flow: column;
  justify-content: space-around;
  padding: inherit;
}
.future {
  border: 5px solid indigo;
  height: 50%;
}
.forecastTitle {
  border: 5px solid green;
  height: 20%;
}
.forecast5Day {
  border: 5px solid teal;
  height: 80%;
  display: flex;
  flex-flow: row;
  list-style: none;
  justify-content: space-between;
  padding: inherit;
}
.forecast {
  border: 5px solid pink;
  width: 20%;
  margin: 0 10px;
}
.indivualStats {
  list-style: none;
  display: flex;
  flex-flow: column;
}
